<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flood Safe Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/animated-headline.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/img/logo/logo_short.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href=" "><img src="static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/freeboardproject">Freeboard Project</a>
                                                    <ul class="submenu">
                                                       <li><a href="">Introduction</a></li>
                                                        <li><a href="">Objects</a></li>
                                                        <li><a href="">Methodologies</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/decisionmakingmap">Decision Making Map</a></li>
                                                <li><a href="/survey">Survey</a></li>
                                                <li><a href="/helpcenter">Help Center</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        <!-- Hero Area Start-->
        <div class="slider-area2">
            <div class="single-slider slider-height3 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9">
                            <!-- Hero Caption -->
                            <div class="hero__caption hero__caption2">
                                <h1>About Us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Area End-->
        <!-- History -->
        <div class="about-history pb-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2>Introduction</h2>
                            <p>The U.S., and Louisiana in particular, is failing to address flood risk, and economic, physical, and social resilience to flood hazards remains unattainable because of a lot of debt. <br><br>
                               A primary reason that these levels of flood losses continue and that community resilience remains elusive is that the “building code” standard fails to reduce flood damage sufficiently. <br><br>
                               The solution appears simple: create and enforce freeboard standards. In an analysis of 450 U.S. communities participating in the Federal Emergency Management Agency’s (FEMA’s) Community Rating System (CRS; Zahran et al., 2010), Highfield and Brody (2013; 2017) found that freeboard requirements in the SFHA promote the most overall cost savings to flood damage, followed by open space protection and flood protection.</p>
                        </div>
                        <div class="section-tittle text-center mb-40">
                            <h2>Goals</h2>
                            <p>The goal of this project, funded by Louisiana Sea Grant’s Omnibus Program, is to identify, evaluate, and address the economic, physical, personal perception, and policy incentives/barriers to increased freeboard for new home construction in Louisiana and communicate results with stakeholders. </p>
                        </div>
                        <div class="section-tittle text-center mb-40">
                            <h2>Our team</h2>
                            <p align="left"><b> <font size="5"> Professors</font> </b></p>
                            <ul align="left">
                                <li><a href="https://www.lsu.edu/eng/cm/people/faculty/friedland.php" target="_blank"><b>Carol J. Friedland, Ph.D., P.E. (PI)</b></font></a> </li>
                                <li>Associate Professor</li>
                                <li>Bert S. Turner Department of Construction Management, LSU</li>
                                <li><a href="mailto:friedland.lsu.edu"><font color="black"><u>friedland@lsu.edu</u></font></a></li>
                                <br><br>
                                <li><a href="https://www.uno.edu/profile/faculty/monica_farris" target="_blank"><b>Monica Teets Farris, Ph.D., CFM (CoPI)</b></a> </li>
                                <li>Director</li>
                                <li>UNO-CHART (Center for Hazards Assessment Response and Technology)</li>
                                <li><a href="mailto:mateets@uno.edu "><font color="black"><u>mateets@uno.edu</u> </font></a></li>
                                <br><br>
                                <li><a href="https://www.uno.edu/profile/faculty/pamela_jenkins" target="_blank"><b>Pamela J. Jenkins, Ph.D. </b></a> </li>
                                <li>Professor Emeritus</li>
                                <li>UNO-CHART (Center for Hazards Assessment Response and Technology)</li>
                                <li><a href="mailto:pjenkins@uno.edu"><font color="black"><u>pjenkins@uno.edu</u></font></a></li>
                                <br><br>
                                <li><a href="https://www.lsu.edu/cce/research/faculty_profiles/robert_rohli.php" target="_blank"><b>Robert V. Rohli, Ph.D. (CoPI)</b></a> </li>
                                <li>Director</li>
                                <li>UNO-CHART (Center for Hazards Assessment Response and Technology)</li>
                                <li><a href="mailto:rohli@lsu.edu"><font color="black"><u>rohli@lsu.edu</u></font></a></li>
                                <br><br>
                                <li><a href="https://www.lsu.edu/eng/cm/people/faculty/lee.php" target="_blank"><b>Yongcheol Lee, Ph.D., LEED AP, FMP (CoPI)</b></a> </li>
                                <li>Assistant Professor </li>
                                <li>Bert S. Turner Department of Construction Management, LSU</li>
                                <li><a href="mailto:yclee@lsu.edu "><font color="black"><u>yclee@lsu.edu</u> </font></a></li>
                              </ul>
                              <br><br>
                            <p align="left"><b><font size="5"> Post Doctor </font></b></p>
                            <ul align="left">
                                <li><b>Arash Taghi Nezhad Bilandi</b> </li>
                              <li>Post doctor</li>
                              <li>Bert S. Turner Department of Construction Management, LSU</li>
                              <li><a href="mailto:ataghi2@lsu.edu"><font color="black"><u>ataghi2@lsu.edu</u></font></a></li>
                            </ul>
                              <br><br>
                             <p align="left"><b><font size="5"> Research Assistants (A-Z) </font></b></p>
                            <ul align="left">
                              <li><b>Ehab S Gnan</b> </li>
                              <li>Ph.D. student</li>
                              <li>Department of Oceanography & Coastal Sciences, LSU</li>
                              <li><a href="mailto:egnan1@lsu.edu "><font color="black"><u>egnan1@lsu.edu </u></font></a></li>
                              <br><br>
                              <li><b>Hoang T Tao</b> </li>
                              <li>Ph.D. student</li>
                              <li>UNO-CHART (Center for Hazards Assessment Response and Technology)</li>
                              <li><a href="mailto:httao1@uno.edu"><font color="black"><u>httao1@uno.edu </u></font></a></li>
                              <br><br>
                              <li><b>Jiyoung Lee</b> </li>
                              <li>Ph.D. student</li>
                              <li>Department of Geography and Anthropology, LSU</li>
                              <li><a href="mailto:jlee257@lsu.edu"><font color="black"><u>jlee257@lsu.edu </u></font></a></li>
                              <br><br>
                              <li><b>Shifat P Mithila </b></li>
                              <li>Ph.D. student</li>
                              <li>Division of Computer Science and Engineering, LSU</li>
                              <li><a href="mailto:smithi1@lsu.edu"><font color="black"><u>smithi1@lsu.edu </u></font></a></li>
                              <br><br>
                              <li><b>Rubayet Bin Mostafiz </b></li>
                              <li>Ph.D. student</li>
                              <li>Department of Oceanography & Coastal Sciences, LSU</li>
                              <li><a href="mailto:rbinmo1@lsu.edu "><font color="black"><u>rbinmo1@lsu.edu </u></font></a></li>
                              <br><br>
                              <li><b>Yamini Kodavatiganti</b>  </li>
                              <li>Ph.D. student</li>
                              <li>Bert S. Turner Department of Construction Management, LSU</li>
                              <li><a href="mailto:ykodav1@lsu.edu  "><font color="black"><u>ykodav1@lsu.edu  </u></font></a></li>
                              <br><br>
                            </ul>

                        </div>




                    </div>
                </div>
            </div>
        </div>


    </main>

 <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
<footer>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>
                              <a href="/">Home</a>&nbsp;&nbsp;   |&nbsp;&nbsp;   <a href="/about">About</a>&nbsp;&nbsp;   |&nbsp;&nbsp;
                              <a href="/freeboardproject">Freeboard Project</a> &nbsp;&nbsp;   |&nbsp;&nbsp;   <a href=" ">Decision Making Map</a> &nbsp;&nbsp;   |&nbsp;&nbsp;
                              <a href="/survey">Survey</a> &nbsp;&nbsp;   |&nbsp;&nbsp;   <a href="/helpcenter">Help Center</a><br> &nbsp;&nbsp;
                              <a href="https://lsu.edu" target="_blank"> <img src="./static/img/logo/lsu_logo.png" style="width:80px;height:30px;margin:20px" alt="LSU"></a>
                              <a href="https://www.uno.edu/" target="_blank"><img src="./static/img/logo/UNOLogo-horiz-web-Medium.jpg" style="width:80px;height:30px;margin:20px" alt="UNO"></a>
                              <a href="http://www.laseagrant.org/" target="_blank"><img src="./static/img/logo/LSG-logo-blue.jpeg" style="width:80px;height:30px;margin:20px" alt="LSG"></a>
                            </p>
                            <p>
                              <font size="2">Copyright &copy;Colorlib</font>
                            </p>

                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </div>
</footer>
    <!-- JS here -->

    <script src="./static/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./static/js/wow.min.js"></script>
    <script src="./static/js/animated.headline.js"></script>
    <script src="./static/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./static/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./static/js/jquery.nice-select.min.js"></script>
    <script src="./static/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./static/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./static/js/jquery.counterup.min.js"></script>
    <script src="./static/js/waypoints.min.js"></script>
    <script src="./static/js/jquery.countdown.min.js"></script>
    <script src="./static/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./static/js/contact.js"></script>
    <script src="./static/js/jquery.form.js"></script>
    <script src="./static/js/jquery.validate.min.js"></script>
    <script src="./static/js/mail-script.js"></script>
    <script src="./static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

    </body>
    </html>
