<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" type="../static/img/logo" href="../static/img/logo/logo_short.png">
  <title>Flood Safe Home</title>
  <style>
     #viewDiv {
      height: 100%;
      width: 70%;
      float: right;
    }
    #left{
      height: 100%;
      width: 30%;
      float: left;
    }
    #left1{
      height: 43%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }
        #left2{
      height: 27%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }
        #left3{
      height: 10%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }

  </style>
    <link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.16/"></script>

  <script>
    require([
      "esri/Map",
      "esri/views/MapView"
    ], function(Map, MapView) {

      var map = new Map({
        basemap: "topo-vector"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-90.1688066, 29.9722569], // longitude, latitude
      zoom: 13
      });

      view.ui.add(locate, "top-left");

    });
  </script>
</head>
<body>
  <header class="header" style="background-color:#367FFF; height:100px; text">
		<a href="/"><img src="../static/img/logo/logo.png" alt=""></a>
 
	</header> <!-- .header end-->
  
  
  <div id="left"> <!-- .left div tags-->
    <div id="left1"><!-- .left1: User's input-->
      <p> 
        <h2><center> Select your building information</center> </h2>
        <b> &nbsp; # stories </b> 
        
        <br><br>
        <b> &nbsp; Address or Parcel ID </b> &nbsp;&nbsp; <input type="text"  name="sqft" placeholder="Type your address/parce ID">
        &nbsp; &nbsp; &nbsp; &nbsp; 
        
        <br><br>
        <b> &nbsp; Square footage </b> &nbsp;&nbsp; <input type="text"  name="sqft" placeholder="Type your building's square footage">
        &nbsp; &nbsp; &nbsp; &nbsp; 
         

        <br><br>
        <b> &nbsp; Construction types </b><br>
        <form method="get" action="">
            <table align = "center" >
              <tr align = "center"> <!--input-->
                <td><label><input type="radio" name="fruit" value="basement"></label></td>
                <td><label><input type="radio" name="fruit" value="crawlSpace"> </label></td>
                <td><label><input type="radio" name="fruit" value="slab"></label></td>
                <td><label><input type="radio" name="fruit" value="pierBeamPiling"> </label></td>
                <td><label><input type="radio" name="fruit" value="pierBeamPilingFreeboard"></label></td>
              </tr>
              <tr align = "center"> <!--image-->
                <td><br><img src="../static/img/construction/basement.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/crawlSpace.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/slab.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/pierBeamPiling.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/pierBeamPilingFreeboard.png" style="width: 50px; height:50px;"></td> 
              <tr align = "center">
                <td>Basement</td>
                <td>Crawl space</td>
                <td>Slab</td>
                <td><br>Pier and beam piling</td>
                <td><br><br>Pier and beam piling with <br>freeboard</td>
              </tr>
            </table>
        
        <button class="btn btn-primary" type="submit" > Run</button>     
      </form>
      </p>
    </div>

    <div id="left2"> <!-- .left1: Chart-->
      <div class="col-md-6">
				<div >
					<div class="progress-wrap">
						<h3><span class="name-left">Freeboard Construction Cost​</span><span class="value-right">XX</span></h3> <!--XX part will be updated based on the calcuation-->
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:50%"> <!--width part will be updated based on the calcuation-->
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Estimated Flood Insurance Premiums/yr</span><span class="value-right">XX</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Annual Benefit​</span><span class="value-right">XX</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-6 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Payback Periods of Freeboard Construction Cost</span><span class="value-right">XX</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Net Benefit​ (NB)​</span><span class="value-right">XX</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Net Benefit Cost Ratio (NBCR)​</span><span class="value-right">XX</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
        </div>
    </div>      
    </div>

    <div id="left3"> <!-- .left3: Hazard calculator-->
    <p> <br>
        <center><h2> Flood Hazard Calculator </h2>
                <label for="slider-fill">Select Annual Change ____</label>
                <input name="slider-fill" id="slider-fill" type="range" min="0" max="100" step="5" value="0" data-highlight="true"><br><br>
                <label for="slider-fill">Select Duration  ____</label>
                <input name="slider-fill" id="slider-fill" type="range" min="0" max="100" step="1" value="0" data-highlight="true"><br>
                <h4><label for="slider-fill">Likelihood of flooding is ____</label></h4><br><br></center>
    </p>
    </div>
  </div>

  <div id="viewDiv"></div>


</body>
</html>
