<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">    
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="../static/img/logo" href="../static/img/logo/logo_short.png">
  
  <title>Flood Safe Home</title>
      <!-- CSS here -->
      <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/animated-headline.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">
	  <script src="static/js/modernizr.js"></script> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://js.arcgis.com/4.17/"></script>
    
<script>
      require([
        "esri/WebMap",
        "esri/views/MapView",
        "esri/layers/FeatureLayer",
        "esri/widgets/Search",
        "esri/widgets/LayerList",
        "esri/widgets/Legend",
        "esri/widgets/Expand",
         "esri/widgets/BasemapToggle"
      ], function (WebMap, MapView, FeatureLayer, Search, LayerList, Legend, Expand, BasemapToggle) {
        const map = new WebMap({
          portalItem: {
            id: "d61a90015054449484e1bd332a3b75e2"
          }
        });

        // Add the map to a MapView
        const view = new MapView({
          container: "viewDiv",
          map: map
        });

        // Add the feature layer to search the location based on the address
        var featureLayerAddress = new FeatureLayer({
          url:
            "https://services2.arcgis.com/njxlOVQKvDzk10uN/arcgis/rest/services/ADDRESS/FeatureServer",
          popupTemplate: {
            // autocasts as new PopupTemplate()
            title: "{FullAddress}",
            overwriteActions: true
          }
        });

         // Add the feature layer to search the location based on the parcel
        var featureLayerParcel = new FeatureLayer({
          url:
            "https://services2.arcgis.com/njxlOVQKvDzk10uN/arcgis/rest/services/PARCEL/FeatureServer",
          popupTemplate: {
            // autocasts as new PopupTemplate()
            title: "Parcel ID is {SITE_ID}",
            overwriteActions: true
          }
        });


        // Search widget start
        var searchWidget = new Search({
          view: view,
          allPlaceholder:"Type your address or parcel ID", //"type an address",//,
          //value:{{location|safe}},
          sources: [
            {
              layer: featureLayerAddress,         // Search by address
              searchFields:  ["FullAddress"],
              displayField: "FullAddress",
              exactMatch: false,
              outFields: ["FullAddress"],
              placeholder: "example: 1107 LAIR AVE",
              name: "Address",
              zoomScale: 500,
              resultSymbol: {
                r: 178,
                g: 34,
                b: 34,
                a: 0.7
              }
            },

            {
              layer: featureLayerParcel,         // Search by parcel
              searchFields: ["SITE_ID"],
              displayField: "SITE_ID",
              exactMatch: false,
              outFields: ["SITE_ID"],
              name: "Parcel",
              placeholder: "example: M-1686"
            }
          ]


    });

        // Add the search widget to the top left corner of the view
        view.ui.add(searchWidget, {
          position: "top-right"
        });


        // Get the value from the input box
        console.log(document.getElementById("submitButton"))
        document.getElementById("submitButton").onclick = (e)=> {
          e.preventDefault()
          let el = document.getElementById("tags")
          console.log(el.value)
          searchWidget.search(el.value).then((result)=> {
            console.log("result", result)
          })
        }

        // Search widget end

        // Add a legend to the panel of a
        // ListItem in a LayerList 
        const layerList = new LayerList({
          view: view,
          listItemCreatedFunction: function (event) {
            const item = event.item;
            if (item.layer.type != "group") {
              // don't show legend twice
              item.panel = {
                content: "legend",
                open: false
              };
            }
          }
        });
        view.ui.add(layerList, "top-right");

        //Basemap toggle
        var toggle = new BasemapToggle({
          view: view, // view that provides access to the map's 'topo-vector' basemap
          nextBasemap: "hybrid" // allows for toggling to the 'hybrid' basemap
        });

        // Add widget to the bottom right corner of the view
        view.ui.add(toggle, "bottom-right");

      });
  </script>
</head>

<body>

     <header class="header" style="height:100px; text; padding: 5px 15px 15px 15px">
        <!-- Header Start -->
        <div class="header-area header-transparent mapHeader">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a>
                                                  <ul class="submenu">
                                                       <li><a href="/about#about">About</a></li>
                                                        <li><a href="/about#goals">Goals</a></li>
                                                        <li><a href="/about#team">Our Team</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/freeboardproject">Freeboard Project</a>
                                                    <ul class="submenu">
                                                       <li><a href="/freeboardproject#introduction">Introduction</a></li>
                                                        <li><a href="/freeboardproject#objects">Objects</a></li>
                                                        <li><a href="/freeboardproject">Methodologies</a></a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/map"><b>Decision Making Map</b></a></li>
                                                <li><a href="/survey">Survey</a></li>
                                                <li><a href="/helpcenter">Help Center</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

  <!-- autosuggestion-->
   

    <script> 
    jQuery.noConflict();
    jQuery(function ($) {    
    
    $( "#tags" ).autocomplete({
      source: "{% url 'autosuggest' %}"
        });
     } );
     
    </script>
   <!--autosuggestion End-->

  <!-- Select your building information-->
  <div class="container left" style="z-index: 1;"> 
      <form method="get" action="/search">
            {% csrf_token %} 
      <p> 
         <hr class="style-two">
        <h2><center><b> Select your building information</b></center> </h2> <br>
           <center>
            <table style="width:90%; height: 33%;" >
               <tr> 
                <td colspan="2"><b>User category <sup style="color:red">*</sup></b> &nbsp; </td>
              </tr>

              <tr>
                <td>         
                  <label>
                    <input type="radio" name ="chk" value = "Homeowner" class="bar" required>Homeowner 
                  </label>
                </td>
                <td>
                  <label>
                    <input type="radio" name ="chk" value = "Community official" class="bar">Community official</option>
                  </label>
                </td>
              </tr>

              <tr class="layer"> 
                <td colspan="2"><b>Is this assessment for <sup style="color:red">*</sup></b> &nbsp; </td>
              </tr>

              <tr>
                <td> 
                  <label>
                    <input type="radio" name ="selectBox" value = "new_building" class="bar" required>New building 
                  </label>
                  </td>
                  <td>
                  <label>
                    <input type="radio" name ="selectBox" value = "existing_building" class="bar">Exisiting building</option>
                  </label>
                </td>
              </tr>

              <tr> 
                <td colspan="2"><b>Address or Parcel ID <sup style="color:red">*</sup></b> &nbsp; </td>
              </tr>

              
              <tr>
                <td colspan="2"><input type="text"  name="location"  id="tags" placeholder="Type your address or parceID" required class="text" value={{location|safe}} ></td>
              </tr>

          
              <tr> 
                <td colspan="2"><b>Square footage <sup style="color:red">*</sup></b> </td>
              </tr>
            
              <tr>              
                <td colspan="2"><input type="text"  name="sqft"  id="sqft" placeholder="Type your building's square footage" required class="text"> </td> 
              </tr>

              <tr>
                <td colspan="2"><b>Number of Stories <sup style="color:red">*</sup> </b></td>                    
              </tr>
              
              <tr>
                <td>         
                  <label>
                    <input type="radio" name ="stories" id="stories" value = "1" class="bar" required>One story
                  </label>
                  </td>
                  <td>
                  <label>
                    <input type="radio" name ="stories" id="stories" value = "1" class="bar">Two or more stories
                  </label>
                </td>
              </tr>

            </table>   
          </center>
      
        <br>
         <center><button class="btn btn-primary" type="submit" > Get results</button>  
        &nbsp; &nbsp; &nbsp; &nbsp; 
       <button class="btn btn-primary" type="submit" id="submitButton"> Show map</button> </center>   
      </form>
      </p>
 <hr class="style-two">
 <!-- Select your building information end-->


 <!-- Side bar naviation menu-->
  <center>
    <table style="width:90%; height: 30%;" class="sidemenu">
      <tr>
        <td><a href="#summary">Summary</a></td>
      </tr>
      <tr>
        <td> <a href="#freeboard">Freeboard cost</a></td>
      </tr>
      <tr>
        <td><a href="#insurance">Insurance saving per year</a></td>
      </tr>
      <tr>
        <td><a href="#floodloss">Reduction in expected flood losses per year</a></td>
      </tr>
      <tr>
        <td><a href="#recover">Time to recover the freeboard cost</a></td>
      </tr> 
      <tr>
        <td><a href="#saving">Monthly savings</a></td>
      </tr> 
      <tr>
        <td><a id = "create_pdf">Save as a PDF</a></td>
      </tr> 
    </table>
  </center>
  
  <!-- Side bar naviation menu end-->
  </div>

<!-- Error message-->                                
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

<!-- Error message ends--> 
<div id = "pdf_wrap">
        <div id="viewDiv"><a id="summary"></a>
        </div>

<!--Result details-->
<div class="left2 section-tittle mb-40"> 
  <h2 class="title-detail">Summary</h2>
  <div>
      <p>
        For your home, <b>-- feet of freeboard </b>is recommended to achieve the maximum benefits!			
      </p>
  </div>
      <div style="overflow-x:auto;" >
        <table class="benefitTable">
          <tr>
            <td><img src="static/img/construction/1.png" style="widht:100px; height:100px;"></td>
            <td><img src="static/img/construction/2.png" style="widht:100px; height:100px;"></td>
            <td><img src="static/img/construction/3.png" style="widht:100px; height:100px;"></td>
            <td><img src="static/img/construction/4.png" style="widht:100px; height:100px;"></td>
            <td><img src="static/img/construction/5.png" style="widht:100px; height:100px;"></td>
          </tr>
          <tr>
            <td><b>Freeboard cost</b></td>
            <td><b>Insurance Savings Per Year</b></td>
            <td><b>Reduction In Expected <br>Flood Losses Per Yea</b>r</td>
            <td><b>Time To Recover <br>The Freeboard Cost</b></td>
            <td><b>Monthly savings</b></td>
          </tr>
          <tr><a id="freeboard">
            <td>$11,368</td>
            <td>$1,074</td>
            <td>$2,423</td>
            <td>44 Months</td>
            <td>$256</td>
          </a></tr>
        </table>
      </div>
  </div>


  <div class="left3 section-tittle-detail mb-40"> 
    <h2 class="title-detail">How much it will cost you for the elevation?</h2>
      <p class="p-style-detail">
        The expense of incorporating freeboard into new structures is surprisingly low. 
       <a id="insurance"> The initial costs of increasing elevation for your home range from 2 to 9 percent of the total construction cost. </a>
        The following bar chart shows the estimated freeboard construction cost for each additional half-foot of freeboard increase.<br><br>
        </p>
         <center>
         <i> Graph will be added.</i> <!--need to update-->
         </center>
  </div>



  <div class="left3 section-tittle-detail mb-40"> 
    <h2 class="title-detail">How much you can save on insurance per year?</h2>
      <p class="p-style-detail">
        We can give you an estimate of how much you need to pay for insurance in a year. 
        Insurance estimates varies according to the additional height of base flood elevation (BFE) in feet.  
        For example, for the location {{location}} and your choice of square footage value {{SquareFootage}} and for {{No_Floors}} stories building, 
        the total annual premium is ${{total_annual_premium_BFE}} for BFE with 0 ft elevation. For BFE + 1 ft elevation freeboard, 
        the total annual premium is ${{total_annual_premium_BFE1}}. For BFE + 2 ft freeboard elevation, the total annual premium is ${{total_annual_premium_BFE2}}. 
        The total annual premium is ${{total_annual_premium_BFE3}} for BFE + 3 ft freeboard elevation and for BFE + 4 ft freeboard elevation, 
        the total annual premium is ${{total_annual_premium_BFE4}}.
      </p>
      <p class="p-style-detail">
        Constructing your home with additional freeboard lowers annual flood premiums by ...% for the first additional foot, ..% for the second, ..% for the third, 
        and ..% for the fourth foot. The estimated cost associated with elevating the home by one foot is offset in … years of insurance premium savings alone. 
        The cost of elevating by two feet is recovered in .. years, and the cost of  elevating by three and four feet are recovered in … and … years, respectively.
        The following bar chart shows the annual insurance you need to pay for different base flood elevation in feet.<br><br>
      </p>
      <a id="floodloss"><center>
       {{ div_insurance | safe }}
      </center></a>
  </div>


<div class="left3 section-tittle-detail mb-40"> 
     <h2 class="title-detail">How much reduction in expected flood losses in one year?</h2>
      <a id="recover"><p class="p-style-detail"></a>
        Adding a freeboard also reduces flood losses in flooding events considerably. 
        Adding one-half-foot of freeboard decreases expected annual losses by …%. That offsets the cost of that increase in elevation in … years. 
        Similarly, increasing the elevation by one-foot results in … % of decreased annual losses and the cost of the freeboard is offset in … years. 
        More notably, adding … feet or more eliminates flood annual losses and the associated cost is recovered in … years.
      </p>
  </div>

<div class="left3 section-tittle-detail mb-40"> 
     <h2 class="title-detail">How long it will take to recover the elevation cost?</h2>
      <p class="p-style-detail">
         The time required to recover the freeboard cost is much shorter when considering the combined annual benefit of freeboard (The accumulation of the avoided annual flood losses and annual premium savings).
         Time to recover freeboard cost {{time_to_recover_FC_MS0}}, {{time_to_recover_FC_MS1}},{{time_to_recover_FC_MS2}},{{time_to_recover_FC_MS3}},{{time_to_recover_FC_MS4}} months. 
         The following bar chart shows the estimated time required to recover the cost for each additional half-foot of freeboard increase.
      </p><br><br>
         <center>
         <i> Graph will be added.</i> <!--need to update-->
         </center>
  </div>


  <div class="left3 section-tittle-detail mb-40"> 
     <a id="saving"><h2 class="title-detail">What is your nest choice?</h2></a>
      <p class="p-style-detail">
      Adding …-feet of freeboard represents the economically optimal option with most life-cycle benefits. These benefits will be realized through the life of the property. 
      Keep in mind, these are immediate benefits to be gained by increasing elevation. Other benefits include less suffering, faster recovery, and increase in property values.
      </p>
  </div>

<!--Freeboard graph-->
<div class="left3 section-tittle-detail mb-40">
       <h2 class="title-detail">Freeboard and Benefit Graph </h2><br>
  	<!--bokeh chart			{{ div | safe }}   -->
           <table align = "center" class="benefitTable">
              <tr> <!--input-->
                <td></td>
                <td><img src="../static/img/construction/feet0.png" style="width: 50px; height:50px;"><br><b>BFE <br>+0 feet</b></td>
                <td><img src="../static/img/construction/feet1.png" style="width: 50px; height:50px;"><br><b>BFE <br>+1 feet</b></td>
                <td><img src="../static/img/construction/feet2.png" style="width: 50px; height:50px;"><br><b>BFE <br>+2 feet</b></td>
                <td><img src="../static/img/construction/feet3.png" style="width: 50px; height:50px;"><br><b>BFE <br>+3 feet</b></td>
                <td><img src="../static/img/construction/feet4.png" style="width: 50px; height:50px;"><br><b>BFE <br>+4 feet</b></td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/cost.png" style="width: 30px; height:30px;"><br><b>Elevation cost</b></td>
                <td>${{FreeboardCost0}}</td>
                <td>${{FreeboardCost1}}</td>
                <td>${{FreeboardCost2}}</td>
                <td>${{FreeboardCost3}}</td>
                <td>${{FreeboardCost4}}</td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/insurance.png" style="width: 25px; height:25px;"><br><b>Insurance savings per year</b></td>
                <td>${{total_annual_premium_BFE}}</td>
                <td>${{total_annual_premium_BFE1}}</td>
                <td>${{total_annual_premium_BFE2}}</td>
                <td>${{total_annual_premium_BFE3}}</td>
                <td>${{total_annual_premium_BFE4}}</td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/loss.png" style="width: 25px; height:25px;"><br><b>Reduction in expected <br>flood losses per year</b></td>
                <td>${{AAL_absCurrency0}}</td>
                <td>${{AAL_absCurrency1}}</td>
                <td>${{AAL_absCurrency2}}</td>
                <td>${{AAL_absCurrency3}}</td>
                <td>${{AAL_absCurrency4}}</td>
              </tr>
              <tr></tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/time.png" style="width: 25px; height:25px;"><br><b>Time to recover <br>the elevation cost</b></td>
                <td>{{time_to_recover_FC_TB0}}</td>
                <td>{{time_to_recover_FC_TB1}}</td>
                <td>{{time_to_recover_FC_TB2}}</td>
                <td>{{time_to_recover_FC_TB3}}</td>
                <td>{{time_to_recover_FC_TB4}}</td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/benefit.png" style="width: 25px; height:25px;"><br><b>Lifetime benefits of <br>the elevation</b></td>
                <td>${{netbenefit0}}</td>
                <td>${{netbenefit1}}</td>
                <td>${{netbenefit2}}</td>
                <td>${{netbenefit3}}</td>
                <td>${{netbenefit4}}</td>
              </tr>
          </table>
  </div>
</div>
 


<!--Result details End-->



    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.2.1.min.js"></script> 
    {{script_insurance | safe}}
    <script src="./static/js/disclaimer.js"></script>
    <!-- Jquery-->
    <script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Jquery Mobile Menu -->

    <!--save as pdf js
    <script src="./static/js/jquery.slicknav.min.js"></script>
    <script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type = "text/javascript" src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type = "text/javascript" src = "http://code.jquery.com/jquery-latest.min.js"></script>
    -->

</body>
</html>
