<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" type="../static/img/logo" href="../static/img/logo/logo_short.png">
  
  <title>Flood Safe Home</title>
      <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/animated-headline.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
     #viewDiv {
      height: 100%;
      width: 70%;
      float: right;
    }
    #left{
      height: 80%;
      width: 30%;
      float: left;
    }
    #left1{
      height: 40%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }
    #left2{
      height: 30%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }
    #left3{
      height: 30%;
      width: 100%;
      margin: 5px 5px 5px 5px;
    }

  </style>



<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.17/"></script>

<script>
      require([
        "esri/WebMap",
        "esri/views/MapView",
        "esri/layers/FeatureLayer",
        "esri/widgets/Search",
        "esri/widgets/LayerList",
        "esri/widgets/Legend",
        "esri/widgets/Expand",
         "esri/widgets/BasemapToggle"
      ], function (WebMap, MapView, FeatureLayer, Search, LayerList, Legend, Expand, BasemapToggle) {
        const map = new WebMap({
          portalItem: {
            id: "d61a90015054449484e1bd332a3b75e2"
          }
        });

        // Add the map to a MapView
        const view = new MapView({
          container: "viewDiv",
          map: map
        });

        // Add the feature layer to search the location based on the address
        var featureLayerAddress = new FeatureLayer({
          url:
            "https://services2.arcgis.com/njxlOVQKvDzk10uN/arcgis/rest/services/ADDRESS/FeatureServer",
          popupTemplate: {
            // autocasts as new PopupTemplate()
            title: "{FullAddress}",
            overwriteActions: true
          }
        });

         // Add the feature layer to search the location based on the parcel
        var featureLayerParcel = new FeatureLayer({
          url:
            "https://services2.arcgis.com/njxlOVQKvDzk10uN/arcgis/rest/services/PARCEL/FeatureServer",
          popupTemplate: {
            // autocasts as new PopupTemplate()
            title: "Parcel ID is {SITE_ID}",
            overwriteActions: true
          }
        });


        // Search widget start
        var searchWidget = new Search({
          view: view,
          allPlaceholder:"Type your address or parcel ID", //"type an address",//,
          //value:{{location|safe}},
          sources: [
            {
              layer: featureLayerAddress,         // Search by address
              searchFields:  ["FullAddress"],
              displayField: "FullAddress",
              exactMatch: false,
              outFields: ["FullAddress"],
              placeholder: "example: 1107 LAIR AVE",
              name: "Address",
              zoomScale: 500,
              resultSymbol: {
                r: 178,
                g: 34,
                b: 34,
                a: 0.7
              }
            },

            {
              layer: featureLayerParcel,         // Search by parcel
              searchFields: ["SITE_ID"],
              displayField: "SITE_ID",
              exactMatch: false,
              outFields: ["SITE_ID"],
              name: "Parcel",
              placeholder: "example: M-1686"
            }
          ]


    });

        // Add the search widget to the top left corner of the view
        view.ui.add(searchWidget, {
          position: "top-right"
        });


        // Get the value from the input box
        console.log(document.getElementById("submitButton"))
        document.getElementById("submitButton").onclick = (e)=> {
          e.preventDefault()
          let el = document.getElementById("tags")
          console.log(el.value)
          searchWidget.search(el.value).then((result)=> {
            console.log("result", result)
          })
        }

        // Search widget end


        // Add a legend to the panel of a
        // ListItem in a LayerList 
        const layerList = new LayerList({
          view: view,
          listItemCreatedFunction: function (event) {
            const item = event.item;
            if (item.layer.type != "group") {
              // don't show legend twice
              item.panel = {
                content: "legend",
                open: false
              };
            }
          }
        });
        view.ui.add(layerList, "top-right");

        //Basemap toggle
        var toggle = new BasemapToggle({
          view: view, // view that provides access to the map's 'topo-vector' basemap
          nextBasemap: "hybrid" // allows for toggling to the 'hybrid' basemap
        });

        // Add widget to the bottom right corner of the view
        view.ui.add(toggle, "bottom-right");

      });
  </script>
</head>

<body>
     <header class="header" style="height:100px; text; padding: 5px 15px 15px 15px">
        <!-- Header Start -->
        <div class="header-area header-transparent mapHeader">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a>
                                                  <ul class="submenu">
                                                       <li><a href="/about#about">About</a></li>
                                                        <li><a href="/about#goals">Goals</a></li>
                                                        <li><a href="/about#team">Our Team</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/freeboardproject">Freeboard Project</a>
                                                    <ul class="submenu">
                                                       <li><a href="/freeboardproject#introduction">Introduction</a></li>
                                                        <li><a href="/freeboardproject#objects">Objects</a></li>
                                                        <li><a href="/freeboardproject">Methodologies</a></a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/map"><b>Decision Making Map</b></a></li>
                                                <li><a href="/survey">Survey</a></li>
                                                <li><a href="/helpcenter">Help Center</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

  <!-- autosuggestion-->
   

    <script> 
    jQuery.noConflict();
    jQuery(function ($) {    
    
    $( "#tags" ).autocomplete({
      source: "{% url 'autosuggest' %}"
        });
     } );
     
    </script>
   <!--autosuggestion End-->
  
  <div id="left" class="container"> <!-- .left div tags-->
    <div id="left1"><!-- .left1: User's input-->
      <form method="get" action="/search">
            {% csrf_token %} 
      <p> 
        <h2><center><b> Select your building information</b></center> </h2>
         <div class="select-form">
          <div class="select-itms">
           <table style="width:300 px; height: 150px;">
           <tr> 
            <td><b>Address or Parcel ID <sup style="color:red">*</sup></b> &nbsp; </td>
              <!-- icon -->
            <td>  <i class="fas fa-question-circle" title="Type your address or parcel ID"></i> &nbsp;</td>
            <td><input type="text"  name="location"  id="tags" placeholder="Type your address or parceID" required  value={{location|safe}}></td>
            </tr>
         
            <tr> 
            <td><b>Square footage <sup style="color:red">*</sup></b> </td>
              <!-- icon -->
            <td>  <i class="fas fa-question-circle" title="Type your building's square footage"></i></td>
            <td><input type="text"  name="sqft"  id="sqft" placeholder="Type your building's square footage" required> </td>
            </tr>
          
          <tr>
          <td><b> # stories <sup style="color:red">*</sup> </b></td>
            <!-- icon -->
          <td>  <i class="fas fa-question-circle" title="Select the number of stories in the building" ></i></td>                         
          <td> <select name="stories" id="stories" required>
                    <option value=""> --Select no of stories--</option>
                    <option value="1">1 story</option>
                    <option value="2">2+ stories</option>
                 <!--   <option value="3">3 stories</option>
                    <option value="4">4 stories</option>  -->
                </select>
          </td>
          </tr>
          <!--
          <tr>
          
          <td><b> Construction types </b></td>
          <td> <i class="fas fa-question-circle" title="What is the construction type of the building?"></i> </td>   
          
          </tr>
          </table>  

            <table align = "center" style=" display:table-cell; vertical-align: middle;" >
              <tr align = "center"> 
                <td class="construction"><label><input type="radio" name="construction" value="basement"></label></td>
                <td class="construction"><label><input type="radio" name="construction" value="crawlSpace"> </label></td>
                <td class="construction"><label><input type="radio" name="construction" value="slab"></label></td>
                <td class="construction"><label><input type="radio" name="construction" value="pierBeamPiling"> </label></td>
                <td class="construction"><label><input type="radio" name="construction" value="pierBeamPilingFreeboard"></label></td>
              </tr>
              <tr align = "center"> 
                <td><br><img src="../static/img/construction/basement.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/crawlSpace.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/slab.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/pierBeamPiling.png" style="width: 50px; height:50px;"></td>
                <td><br><img src="../static/img/construction/pierBeamPilingFreeboard.png" style="width: 50px; height:50px;"></td> 
              <tr align = "center">
                <td valign="top"><br>Basement</td>
                <td valign="top"><br>Crawl space</td>
                <td valign="top"><br>Slab</td>
                <td valign="top"><br>Pier and beam piling</td>
                <td valign="top"><br>Pier and beam piling with freeboard</td>
              </tr>-->
            </table>
        
        <br>
         <center><button class="btn btn-primary" type="submit" > Get results</button>  
        &nbsp; &nbsp; &nbsp; &nbsp; 
       <button class="btn btn-primary" type="submit" id="submitButton"> Show map</button> </center> 
      </form>
      </p>
    </div>

<!-- Error message-->                                
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<!-- Error message ends--> 
 </div>
</div>
    <!-- left2: table-->
			<div id="left2"> 
      <h2><center> <b>Freeboard and Benefit Graph </b></center></h2><br>
  	<!--bokeh chart			{{ div | safe }}   -->
           <table align = "center" style=" display:table-cell; vertical-align: middle;" class="benefitTable" >
              <tr> <!--input-->
                <td></td>
                <td><img src="../static/img/construction/feet0.png" style="width: 50px; height:50px;"><br><b>BFE <br>+0 feet</b></td>
                <td><img src="../static/img/construction/feet1.png" style="width: 50px; height:50px;"><br><b>BFE <br>+1 feet</b></td>
                <td><img src="../static/img/construction/feet2.png" style="width: 50px; height:50px;"><br><b>BFE <br>+2 feet</b></td>
                <td><img src="../static/img/construction/feet3.png" style="width: 50px; height:50px;"><br><b>BFE <br>+3 feet</b></td>
                <td><img src="../static/img/construction/feet4.png" style="width: 50px; height:50px;"><br><b>BFE <br>+4 feet</b></td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/cost.png" style="width: 30px; height:30px;"><br><b>Elevation cost</b></td>
                <td>-</td>
                <td>${{construction_cost_BFE1}}</td>
                <td>${{construction_cost_BFE2}}</td>
                <td>${{construction_cost_BFE3}}</td>
                <td>${{construction_cost_BFE4}}</td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/insurance.png" style="width: 25px; height:25px;"><br><b>Insurance savings per year</b></td>
                <td>${{total_annual_premium_BFE}}</td>
                <td>${{total_annual_premium_BFE1}}</td>
                <td>${{total_annual_premium_BFE2}}</td>
                <td>${{total_annual_premium_BFE3}}</td>
                <td>${{total_annual_premium_BFE4}}</td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/loss.png" style="width: 25px; height:25px;"><br><b>Reduction in expected <br>flood losses per year</b></td>
                <td>${{AAL_BFE0}}</td>
                <td>${{AAL_BFE1}}</td>
                <td>${{AAL_BFE2}}</td>
                <td>${{AAL_BFE3}}</td>
                <td>${{AAL_BFE4}}</td>
              </tr>
              <tr></tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/time.png" style="width: 25px; height:25px;"><br><b>Time to recover <br>the elevation cost</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr> <!--input-->
                <td><img src="../static/img/construction/benefit.png" style="width: 25px; height:25px;"><br><b>Lifetime Benefits of <br>the Elevation</b></td>
                <td>{{netbenefit0}}</td>
                <td>{{netbenefit1}}</td>
                <td>{{netbenefit2}}</td>
                <td>{{netbenefit3}}</td>
                <td>{{netbenefit4}}</td>
              </tr>
          </table>
			</div>

</div>

<!-- .left3: Hazard calculator
    <div id="left3"> 
    <p> <br>
        <center><h2> Flood Hazard Calculator </h2>
                <label for="slider-fill">Select Annual Change ____</label>
                <input name="slider-fill" id="slider-fill" type="range" min="0" max="100" step="5" value="0" data-highlight="true"><br><br>
                <label for="slider-fill">Select Duration  ____</label>
                <input name="slider-fill" id="slider-fill" type="range" min="0" max="100" step="1" value="0" data-highlight="true"><br>
                <h4><label for="slider-fill">Likelihood of flooding is ____</label></h4><br><br></center>
    </p>
    </div>
 
  </div>
   -->


  <div id="viewDiv">
  
  </div>

<!--Result details-->

<div class="container" <p style="padding: 80em 0 0 0;">>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2 >How much it will cost you for the elevation?</h2>
                            <br>
                            <p class="p-style">
                          The expense of incorporating freeboard into new structures is surprisingly low. The initial costs of increasing elevation for your home range from 2 to 9 percent of the total construction cost.
                          </p>
                          <p>
                          The following bar chart shows the estimated freeboard construction cost for each additional half-foot of freeboard increase.

                            </p>
                        </div>
                    </div>
                </div>    
</p></div>

<div class="container" <p style="padding: 30em 0 0 0;">>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2 >How much you can save on insurance per year?</h2>
                            <br>
                            <p class="p-style">
                          We can give you an estimate of how much you need to pay for insurance in a year. Insurance estimates varies according to the additional height of base flood elevation (BFE) in feet.  For example, for the location {{location}} and your choice of square footage value {{SquareFootage}} and for {{No_Floors}} stories building, the total annual premium is ${{total_annual_premium_BFE}} for BFE with 0 ft elevation. For BFE + 1 ft elevation freeboard, the total annual premium is ${{total_annual_premium_BFE1}}. For BFE + 2 ft freeboard elevation, the total annual premium is ${{total_annual_premium_BFE2}}. The total annual premium is ${{total_annual_premium_BFE3}} for BFE + 3 ft freeboard elevation and for BFE + 4 ft freeboard elevation, the total annual premium is ${{total_annual_premium_BFE4}} <br>

                        <!--  The following bar chart shows the annual insurance you need to pay for differnt base flood elevation in feet. <br>
                          -->
                          Constructing your home with additional freeboard lowers annual flood premiums by …% for the first additional foot, ..% for the second, ..% for the third, and ..% for the fourth foot. The estimated cost associated with elevating the home by one foot is offset in … years of insurance premium savings alone. The cost of elevating by two feet is recovered in .. years, and the cost of  elevating by three and four feet are recovered in … and … years, respectively.
The following bar chart shows the annual insurance you need to pay for different base flood elevation in feet.

                          
                          {{ div_insurance | safe }}

                            </p>
                        </div>
                    </div>
                </div>    
</p></div>


<div class="container" <p style="padding: 30em 0 0 0;">>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2 >How much reduction in expected flood losses in one year?</h2>
                            <br>
                            <p class="p-style">
                          Adding a freeboard also reduces flood losses in flooding events considerably. Adding one-half-foot of freeboard decreases expected annual losses by …%. That offsets the cost of that increase in elevation in … years. Similarly, increasing the elevation by one-foot results in … % of decreased annual losses and the cost of the freeboard is offset in … years. More notably, adding … feet or more eliminates flood annual losses and the associated cost is recovered in … years.
                            </p>
                            <p>The following bar chart shows the reduction in annual flood loss with each additional half-foot of freeboard increase.
                            </p>
                        </div>
                    </div>
                </div>    
</p></div>

<div class="container" <p style="padding: 30em 0 0 0;">>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2 >How long it will take to recover the elevation cost?</h2>
                            <br>
                            <p class="p-style">
                          The time required to recover the freeboard cost is much shorter when considering the combined annual benefit of freeboard (The accumulation of the avoided annual flood losses and annual premium savings).
                         </p>
                            <p>                        
                         The following bar chart shows the estimated time required to recover the cost for each additional half-foot of freeboard increase.
                          </p>
                        </div>
                    </div>
                </div>    
</p></div>



<div class="container" <p style="padding: 30em 0 0 0;">>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-40">
                            <h2 > What Is Your Best Choice?</h2>
                            <br>
                            <p class="p-style">
                       
                            Adding …-feet of freeboard represents the economically optimal option with most life-cycle benefits. These benefits will be realized through the life of the property. Keep in mind, these are immediate benefits to be gained by increasing elevation. Other benefits include less suffering, faster recovery, and increase in property values.

                            </p>
                        </div>
                    </div>
                </div>    
</p></div>
<!--Result details End-->

<!--
  <div id="left3">
    <p style="padding: 60em 0 0 0;">
            <h2><b>Net benefit to cost ratio:</b> </h2> -->
            <!--{{ div | safe }}--> 
 <!--           <br>     

                    For 1 ft. freeboard &nbsp; &nbsp; &nbsp; {{NBcostRatio1}}: 1 <br>
                    For 2 ft. freeboard &nbsp; &nbsp; &nbsp; {{NBcostRatio2}}: 1 <br>
                    For 3 ft. freeboard &nbsp; &nbsp; &nbsp; {{NBcostRatio3}}: 1 <br>
                    For 4 ft. freeboard &nbsp; &nbsp; &nbsp; {{NBcostRatio4}}: 1 <br>
                    <br>
                    The scenario with the highest NB represents the economically optimal option. 
                    
    </p>
    </div>

-->

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.2.1.min.js"></script> 
    {{script_insurance | safe}}
    <script src="./static/js/disclaimer.js"></script>

    <!--<script src="https://code.jquery.com/jquery-1.6.1.min.js"></script> -->




</body>
</html>
