<html class="no-js" lang="zxx">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">    
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="../static/img/logo" href="../static/img/logo/logo_short.png">
  
  <title>Flood Safe Home</title>
    <!-- CSS here -->  
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/animated-headline.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/style-print.css" media="screen">
    <link rel="stylesheet" href="static/css/print.css" media="print">
    <script src="static/js/modernizr.js"></script> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://js.arcgis.com/4.18/"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    

{% load humanize %}
<!--ArcGIS API-->
  <script>
    require([

      "esri/config",
      "esri/Map",
      "esri/views/MapView",
      "esri/widgets/Sketch",
      "esri/layers/GraphicsLayer",
      "esri/layers/FeatureLayer",
      "esri/widgets/BasemapToggle",
      "esri/widgets/BasemapGallery",
      "esri/widgets/LayerList",
      "esri/widgets/Legend",
      "esri/widgets/Expand",
      "esri/widgets/Search"

    ], function(esriConfig,Map, MapView, Sketch, GraphicsLayer, FeatureLayer,BasemapToggle, BasemapGallery, LayerList, Legend, Expand, Search) {

      esriConfig.apiKey = "AAPKd5dd565a8e68435fa989ce6a460dee71GW1954NPzAcw3QEQG_Cawyxn2iw7zS83Hnr53ia1CJ6-B8iTjxlIBdY41LiuJ_M6";

      const map = new Map({
        basemap: "arcgis-topographic" //Basemap layer service
      });

      const view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-90.2,30.00], //Longitude, latitude
        zoom: 13
      });

      // Add sketch widget
      const graphicsLayerSketch = new GraphicsLayer();
      map.add(graphicsLayerSketch);

      const sketch = new Sketch({
        layer: graphicsLayerSketch,
        view: view,
        creationMode: "update" // Auto-select
      });

      view.ui.add(sketch, "top-right");

      // Add sketch events to listen for and execute query
      sketch.on("update", (event) => {

        // Create
        if (event.state === "start") {
          queryFeaturelayer(event.graphics[0].geometry);
        }
        if (event.state === "complete"){
          graphicsLayerSketch.remove(event.graphics[0]); // Clear the graphic when a user clicks off of it or sketches new one
        }
        // Change
        if (event.toolEventInfo && (event.toolEventInfo.type === "scale-stop" || event.toolEventInfo.type === "reshape-stop" || event.toolEventInfo.type === "move-stop")) {
          queryFeaturelayer(event.graphics[0].geometry);
        }

      });

      // Reference query layer
      const parcelLayer = new FeatureLayer({
         url: "https://services2.arcgis.com/njxlOVQKvDzk10uN/arcgis/rest/services/BUILDING_shp/FeatureServer/0",     //Building
        //parecel url: "https://services2.arcgis.com/njxlOVQKvDzk10uN/ArcGIS/rest/services/PARCEL/FeatureServer/0",
      });

      function queryFeaturelayer(geometry) {

        const parcelQuery = {
         spatialRelationship: "intersects", // Relationship operation to apply
         geometry: geometry,  // The sketch feature geometry
         outFields: ["ADDRESS","STREET", "SFT"], // Attributes to return
         //parcel outFields: ["SITE_ID","SUBDIVISIO"], // Attributes to return
         returnGeometry: true
        };

        parcelLayer.queryFeatures(parcelQuery)
        .then((results) => {


          displayResults(results);

        }).catch((error) => {
          console.log(error);
        });

      }

      // Show features (graphics)
      function displayResults(results) {

      // Create a blue polygon
        const symbol = {
          type: "simple-fill",
          color: [ 20, 130, 200, 0.5 ],
          outline: {
            color: "white",
            width: .5
          },
        };


        //Building
        const popupTemplate = {
          title: "<b> {ADDRESS} {STREET} </b>",
          content: "Sqaure fottage:  {SFT}"
        };

        // Set symbol and popup
        results.features.map((feature) => {
          feature.symbol = symbol;
          feature.popupTemplate = popupTemplate;
          return feature;
        });

        // Clear display
        view.popup.close();
        view.graphics.removeAll();

       // Add features to graphics layer
        view.graphics.addMany(results.features);

      }
      
      
      //basemap toggle
      const basemapToggle = new BasemapToggle({
        view: view,
        nextBasemap: "arcgis-imagery"
     });

      view.ui.add(basemapToggle,"bottom-right");
    });
  </script>
</head>

<body>   

<button id="print" onclick="window.print();"  class="btn">Export PDF</button>

<h1 class="ttl">Freeboard Cost Analysis Report</h1>
<hr class="style">


<!--Esri map-->
<div id="viewDiv" >
</div>
<hr class="style-five">


<h2 class="map-style-title" >Individual Building Information</h2>

  {% for individual in listindividual %}           
        <div>
        <h3><strong>Location: </strong>{{ individual.0 }}</h3>
          <b>Zone : </b>{{ individual.1 }}<br>
          <b>Recommended freeboard: </b>{{ individual.2 }}<br>
          <b>Optimal saving:</b> {{ individual.3 }} <br>
          <b>Freeboard construction cost:</b> {{ individual.4 }} <br>
          <b> Total annual insurance premium : </b>{{ individual.5 }} <br>
          <b>Expected annual flood loss : </b>{{ individual.6 }} <br>
          <b>Time to recover the freeboard cost : </b>{{ individual.7 }} <br>          
        </div> <br>       
    {% endfor %}

         

   <!--Interactive slide-->  
      <div style="overflow-x:auto;">
      <hr class="style-five">  
      <h2 class="map-style-title" >Other Common Building Information</h2>
          <table style="width: 85%;">
           <tr>
            <td style="width: 30%;"><b>Home square footage:</b></td>
            <td>{{SquareFootage}} SF</td>
          </tr>
           <tr>
            <td><b>Number of stories: </b></td>
            <td>{{No_Floors}}</td>

          </tr>
         
          <tr>
            <td><b>Insurance:  </b></td>
            <td> Without insurance </td>
          </tr>
           <tr class="table-slide-bg">
            <td><b>Expected occupancy timeline: </b></td>
            <td> 30 years </td>
          </tr>
          <tr>
            <td rowspan="5"><b>Flood insurance coverage:</b></td>
            <td>Building coverage:  $ {{BuildingCoverage}}</td>

          </tr>
          <tr>
            <td>Building deductible:  $ {{BuildingDeductibe}}</td>

          </tr>
          <tr>
          <td>Content coverage:  $ {{ContentCoverage}}</td>
          </tr>
          <tr>
           
            <td>Content deductible:  $ {{ContentDeductible}}</td>

          </tr>
          <tr>
            <td>CRS rate is {{CRS}}</td>
          </tr> 

        </table> 
        <br>
      <p>
       ● The location entered is in a/an {{floodzone}} flood zone, and insurance not/is mandatory.<br>
       ● Maximum limits of $250,000 for building and $100,000 for content with deductible of $1,250. <br>
       ● The property is located in a community that is currently participating in the Community Rating System (CRS) discount. <br>
       ● The CRS rate is 5, with a 25% discount on flood insurance. 
      </p>   
      </div>   

    </div>

 
    <div >
     <hr class="style-five">
    <h2 class="map-style-title" >Overall Freeboard Cost Results and Analysis</h2>
      For your home,  <b class="summary-b">{{OptimalFreeboard}} ft </b> </span> of freeboard is recommended<br>
          resulting in monthly savings of <b class="summary-b">${{OptimalSaving}} </b> </u> <br>
      <div class="pricing row2" > 

      <div class="pricing-slider column2">
      
        <center><label class="form-slider" >
          <img id='img' src='static/img/construction/twofeet.png' class="pricing-slider-img"/><br><br>
          <center><div class="pricing-slider-value" ></div></center> <br>
          <datalist id="scale">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </datalist>
          <input onchange='setImage(this)'
            type="range"
            value="{{OptimalFreeboard}}"
            class="slider" id="myRange" list="scale"
            data-price-input='{
                "0": "0ft freeboard",
                "1": "1ft freeboard",
                "2": "2ft freeboard",
                "3": "3ft freeboard",
                "4": "4ft freeboard"                
              }'
          />
        </label></center>
        
      </div>

      
  <div  style=" display:inline-block; vertical-align: top; "  >
     
      <!--Monthly premium savings-->

       <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price" 
        data-price-output='{
          "0": ["$", {{summation_total_monthly_premium_saving0}},""],
          "1": ["$", {{summation_total_monthly_premium_saving1}},""],
          "2": ["$", {{summation_total_monthly_premium_saving2}},""],
          "3": ["$", {{summation_total_monthly_premium_saving3}},""],
          "4": ["$", {{summation_total_monthly_premium_saving4}},""] 
           }'
      > 

    <p class="map-style"> When you add <b class="b-summary-value2"> <span id="demo"> </span> ft</b> of  freeboard, </p>
    
      <p  ><b class="summary-b">Savings</b> <br>
       <div class="vl"><p  >
        <b class="b-summary-value map-style">        
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b> insurance savings per month </p>
    
    <!--Flood loss-->

        <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price"
        data-price-output='{
          "0": ["$", {{summation_monthly_avoided_loss0}},""],
          "1": ["$", {{summation_monthly_avoided_loss1}},""],
          "2": ["$", {{summation_monthly_avoided_loss2}},""],
          "3": ["$", {{summation_monthly_avoided_loss3}},""],
          "4": ["$", {{summation_monthly_avoided_loss4}},""]
          }'
      >


      <p>
      <b class="b-summary-value map-style"> 
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b> reduction in expected flood losses per month </p>
      </div>
    </div>    
   <br>



       <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price"
        data-price-output='{
         "0": ["$", {{summation_Amortized_FC0}},""],
          "1": ["$", {{summation_Amortized_FC1}},""],
          "2": ["$", {{summation_Amortized_FC2}},""],
          "3": ["$", {{summation_Amortized_FC3}},""],
          "4": ["$", {{summation_Amortized_FC4}},""]
        }'
      > 



      <p  ><b class="summary-b">Costs</b> <br>
      <div class="vl"> <p  >
      <b class="b-summary-value map-style">      
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b> amortized cost per month </p>
       

      <!--Freeboard cost-->
      {% load humanize %}

      <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price"
        data-price-output='{
         "0": ["$", {{summation_freeboardCost0}},""],
          "1": ["$", {{summation_freeboardCost1}},""],
          "2": ["$", {{summation_freeboardCost2}},""],
          "3": ["$", {{summation_freeboardCost3}},""],
          "4": ["$", {{summation_freeboardCost4}},""]
        }'
      >
      <!--Part of title...Freeboard cost is calculated as a total loan amount with 30-year term and 3% interest rate. The cost of the freeboard with no loan is $7490" --> 
      <p class=" b-summary-const">
         (based on <b class="b-summary-value2">
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b>construction cost)</p>
      </div>   
    </div><br>

        
     <!--  for calculations with below BFE   -->
  

      <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price"
        data-price-output='{
          "0": ["$", {{summation_total_savings_permonth_insurance0}},""],
          "1": ["$", {{summation_total_savings_permonth_insurance1}},""],
          "2": ["$", {{summation_total_savings_permonth_insurance2}},""],
          "3": ["$", {{summation_total_savings_permonth_insurance3}},""],
          "4": ["$", {{summation_total_savings_permonth_insurance4}},""]
        }'
      >

      <p  ><b class="summary-b">Total</b> <br>
      <div class="vl"> <p  >
      <b class="b-summary-value map-style">      
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b> savings per month (flood insurance only) </p>
      

       <!--Flood loss-->
       <!--  for calculations without below BFE   -->
      <div
        class="pricing-item-price"
        data-price-output='{
          "0": ["$", {{summation_total_monthly_saving0}},""],
          "1": ["$", {{summation_total_monthly_saving1}},""],
          "2": ["$", {{summation_total_monthly_saving2}},""],
          "3": ["$", {{summation_total_monthly_saving3}},""],
          "4": ["$", {{summation_total_monthly_saving4}},""]
        }'
      >

      <p>
      <b class="b-summary-value map-style"> 
        <span class="pricing-item-price-currency">$</span><!-- 
     --><span class="pricing-item-price-amount">0</span><!-- 
     --><span class="pricing-item-price-after"></span> </b> savings per month (flood insurance and flood loss reduction) </p>
      </div>

  
      </div>
    </div>
    </div>
    </div>
    </div></div>
  </div>




<!--Monthly saving-->
  <div>
  <hr class="style-five">
     <h2 class="map-style-title" >Monthly Savings</h2>
      
        While the increase in your monthly mortgage payment for adding freeboard will be minor, the monthly savings are substantial, ranging from 
        <b>${{summation_total_monthly_saving_low}}</b> to <b>${{Optimalsavingsumm}}</b>. 
        <div id="chart5" class="zc-body"></div><i>BFE stands for <b>Base Flood Elevation</i></b>
    </div>


<!--Freeboard cost-->
  <div>
   <hr class="style-five">
     <h2 class="map-style-title">Freeboard Cost</h2>       
        The expense of incorporating freeboard into new structures is surprisingly low. The construction cost of increasing elevation for your home ranges from 
        <b>${{summation_freeboardCostlow | intcomma}}</b> to <b>${{summation_freeboardCosthigh | intcomma}}</b>.
      <div id="chart1" class="zc-body"></div>
  </div>

<!--Insurance-->
  <div>
   <hr class="style-five">
    <h2 class="map-style-title">Annual Insurance Premiums</h2>
     
       Constructing your home with additional freeboard decreases annual insurance premiums from <b>${{summation_total_annual_premiumlow | intcomma}}</b> to <b>${{summation_total_annual_premiumhigh | intcomma}}</b>. 
       <div id="chart2" class="zc-body"></div>

  </div>

<!--Reduction in expected flood losses-->
<div>
  <hr class="style-five">
     <h2 class="map-style-title">Expected Annual Flood Loss</h2>
       
        
          Adding a freeboard also reduces flood losses in flooding events from <b>${{summation_AAL_absCurrencyhigh | intcomma}}</b> to <b>${{summation_AAL_absCurrencylow | intcomma}}</b>. 
        
       
      <div id="chart3" class="zc-body"></div> 
  </div>

<!--Recover-->
<div>
  <hr class="style-five">
     <h2 class="map-style-title">Time to Recover the Freeboard Cost</h2>
      
        The time required to recover the cost of freeboard is surprisingly low for new construction when considering reductions in flood insurance premiums and the expected reductions in flood loss. 
        Considering <b>ONLY</b> flood insurance premium savings, the time to recover the additional cost of construction ranges between <b>{{summation_time_to_recover_FC_PSlow}}</b> month(s) and <b>{{summation_time_to_recover_FC_PShigh}} month(s)</b>. 
        Considering both savings in flood insurance premiums and expected reductions in flood loss, this is decreased to between <b>{{summation_time_to_recover_FC_TBlow}}</b> month(s) and <b>{{summation_time_to_recover_FC_TBhigh}} month(s)</b>.       
   
      <div id="chart4" class="zc-body"></div>
  </div>

<!--Overall-->
  <div>
   <hr class="style-five"> 
     <h2 class="map-style-title">Overall Graph</h2>
       
        This overall graph includes all analysis information integrated in one chart that provides intuitive decision making information with all estimates converted to monthly basis.       
 
      <div id="myChart" class="zc-body-end"></div> 
  </div>
</main>

<!--Result details End-->

<!--zingchart script-->
  <script>
   /*zingchart*/
  // DEFINE CHART LOCATIONS (IDS)
  // -----------------------------
  // Main chart render location
  // var chartId = 'myChart';
  var chart1Id = 'chart1'; //Freeboard Cost
  var chart2Id = 'chart2'; //Annual Insurance Premiums
  var chart3Id = 'chart3'; //Expected Annual Flood Loss
  var chart4Id = 'chart4'; //Time to Recover the Freeboard Cost
  var chart5Id = 'chart5'; //Monthly Savings
  var chart6Id = 'chart6'; //Overall graph

  // CHART CONFIG
  // -----------------------------


  // Chart 1
  var chart1Data = {
    type: 'bar',
    borderWidth: '1px',
    borderColor: '#dae5ec',
    title: {
      fontWeight: 'normal',
      fontColor: 'var(--black)',
      align: 'left',
      marginLeft: '2rem'
    },
    cursor: 'hand',
    globals: {
      fontColor: 'var(--fontColor)',
      fontfamily: 'Raleway'
    },
    legend: {
      borderWidth: 0,
      x:'5%',
      y:'2%',
      layout: '1',
      marker: {
        type: 'pie'
      }
    },
    scaleX: { 
      markers: [],
       labels: [ 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      //labels: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      tick: {
        visible: false
      },
    crosshairX: {},
    },
    scaleY: {
    format: "$%v",
    negation: "currency",
    thousandsSeparator: ", ",
    multiplier: true
    },
    plot: {
    tooltip:{ 
      fontColor: 'var(--white)',
      text: '$%v',
      thousandsSeparator: ", ",
      backgroundColor:'var(--red)'
      },
    animation : {
      effect : 1,
      sequence : 2,
      speed : 100
    },
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
    series: [
      {
        text: 'Freeboard cost',
        backgroundColor: 'var(--red)',
        alpha: 0.95,
        borderRadiusTopLeft: '7px',
        values: {{freeboardCost_json}}   
      }
    ]
  };

  // Chart 2
   var chart2Data = {
    type: 'bar',
    borderWidth: '1px',
    borderColor: '#dae5ec',
    title: {
      fontWeight: 'normal',
      fontColor: 'var(--black)',
      align: 'left',
      marginLeft: '2rem'
    },
    cursor: 'hand',
    globals: {
      fontColor: 'var(--fontColor)',
      fontfamily: 'Raleway'
    },
    legend: {
      borderWidth: 0,
      layout: '1',
      x:'5%',
      y:'2%',
      marker: {
        type: 'pie'
      }
    },
    scaleX: { 
      markers: [],
      labels: ['BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
   // labels: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      tick: {
        visible: false
      },
    crosshairX: {},
    },
    scaleY: {
    format: "$%v",
    negation: "currency",
    thousandsSeparator: ", ",
    multiplier: true
    },
    plot: {
    tooltip:{ 
      fontColor: 'var(--white)',
      text: '$%v',
      thousandsSeparator: ", ",
      backgroundColor:'var(--blue)'
      },
    animation : {
      effect : 1,
      sequence : 2,
      speed : 100
    },
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
    series: [
      {
        text: 'Annual insurance premiums',
        backgroundColor: 'var(--blue)',
        alpha: 0.95,
        borderRadiusTopLeft: '7px',
        values: {{total_annual_premium_json}}   
      }
    ]
  }; 
 

  // Chart 3
  let chart3Data = {
  type: 'bar',
  borderWidth: '1px',
  borderColor: '#dae5ec',
  legend: {
    alpha: 0.05,
    borderWidth: '0px',
    layout: 'x2',
    x:'5%',
    y:'2%',
    marker: {
      type: 'circle',
      borderColor: 'none'
    },
  },
  plot: {
    animation: {
      effect: 'ANIMATION_SLIDE_BOTTOM'
    },
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
  scaleX: {
    guide: {
      visible: false
    },
    item: {
      fontColor: '#7e7e7e'
    },
    labels: ['BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
    // labels: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
    lineColor: '#7E7E7E'
  },
  scaleY: {
      
    format: "$%v",
    negation: "currency",
    thousandsSeparator: ", ",
    multiplier: true,
      guide: {
        lineStyle: 'solid'
      },
      minorTick: {
        placement: 'cross',
        size: '6px'
      },
      minorTicks: 1
    },
  tooltip: {
    text: '$%v'
  },
  series: [
    {
      text: 'Annual flood loss with insurance',
      values: [ 0, 0, 0, 0, 0],
      //values: [185537, 144022, 97204, 31222, 0, 0, 0, 0, 0],
      alpha: 0.95,
      borderRadiusTopLeft: '7px',
      backgroundColor: '#eb9d17',
    },
    {
      text: 'Annual flood loss without insurance',
      values: {{AAL_absCurrency_json}},
      borderRadiusTopLeft: '7px',
      alpha: 0.95,
      backgroundColor: '#f7e0b7',
    }
  ]
};

   // Chart 4
var chart4Data = {
  type: 'line',
  borderWidth: '1px',
  borderColor: '#dae5ec',
  title: {
    fontWeight: 'normal',
    fontColor: 'var(--black)',
    align: 'left',
    marginLeft: '2rem'
  },
  plot: {
    tooltip: {
      visible: false
    },
    cursor: 'hand',
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
  legend: {
    borderWidth: 0,
    layout: '1',
     width: '90%',
     x: '3%',
    marker: {
      type: 'pie'
    }
  },
  scaleX: {
    markers: [],
    labels: [ 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
    // labels: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
  },
  crosshairX: {},
  scaleY: {
    label: {
      text: "Month(s)",
      fontWeight: 'normal'
    },
  },
  series: [
    {
      text: 'The reduction in insurance premiums ',
      values: {{time_to_recover_FC_PS_json}},
      lineColor: 'var(--orange)',
      marker : {
      type : 'circle',
      borderWidth : 1,
      borderColor : 'var(--orange)',
      size : 5,
      backgroundColor : 'var(--orange)'
      },
      hoverMarker : {
        type : 'circle',
        size : 6,
        backgroundColor : '#FFF',
        borderWidth : 1,
        borderColor : 'var(--orange)'
      },
    },
    {
      text: 'The reduction in insurance premiums and the reduction of flood losses',
      values: {{time_to_recover_FC_TB_json}},
      lineColor: '#c4c722',
      marker : {
      type : 'circle',
      borderWidth : 1,
      borderColor : '#c4c722',
      size : 5,
      backgroundColor : '#c4c722'
      },
      hoverMarker : {
        type : 'circle',
        size : 6,
        backgroundColor : '#FFF',
        borderWidth : 1,
        borderColor : '#c4c722'
      },
    }    
  ]
};

/*
* define Marker class to construct
* markers on the fly easier.
*/
function Marker(_index) {
  return {
    type: 'line',
    flat: false,
    lineColor: '#424242',
    lineWidth: '1px',
    range: [_index]
  }
}

/*
* define Label class to construct
* labels on the fly easier.
*/
function Label(_text, _id, _offsetX, _offsetY) {
  return {
    id: _id,
    text: _text,
    angle: 0,
    padding: '5px 10px 5px 10px',
    backgroundColor: '#eeeeee',
    cursor: 'pointer',
    flat: false,
    fontSize: '13px',
    fontStyle: 'bold',
    offsetX: _offsetX,
    offsetY: _offsetY ? _offsetY : 0,
    textAlign: 'right',
    wrapText: true
  }
}

// format the label text
let formatLabelText = (_nodeindex, _scaleText) => {
  let plotInfo = null;
  let nodeInfo;
  let seriesText = '';
  let labelString = isNaN(_scaleText) ? _scaleText + '<br>' : '';
  let color = '';
  let plotLength = zingchart.exec('chart4Data', 'getplotlength', {
    graphid: 0
  });

  for (let i = 0; i < plotLength; i++) {
    plotInfo = zingchart.exec('chart4Data', 'getobjectinfo', {
      object: 'plot',
      plotindex: i
    });
    nodeInfo = zingchart.exec('chart4Data', 'getobjectinfo', {
      object: 'node',
      plotindex: i,
      nodeindex: _nodeindex
    });
    color = plotInfo.lineColor ? plotInfo.lineColor : plotInfo.backgroundColor1;
    seriesText = plotInfo.text ? plotInfo.text : ('Series ' + (i + 1));
    labelString += '<span style="color:' + color + '">' + seriesText + ':</span>' +
      ' ' + nodeInfo.value + '<br>';
  }

  return labelString;
};

// global array for markers since you can only update the whole array
let markersArray = [];
let labelsArray = [];

// hash table for markers
let markerHashTable = {};

/*
* Register a graph click event and then render a chart with the markers
*/
zingchart.bind('chart4Data', 'click', (e) => {
  let xyInformation;
  let nodeIndex;
  let scaleText;

  // make sure not a node click and click happend in plotarea
  if (e.target != 'node' && e.plotarea) {
    xyInformation = zingchart.exec('chart4Data', 'getxyinfo', {
      x: e.ev.clientX,
      y: e.ev.clientY
    });

    // if anything is found, 0 corresponds to scale-x
    if (xyInformation && xyInformation[0] && xyInformation[2]) {
      nodeIndex = xyInformation[0].scalepos;
      scaleText = xyInformation[0].scaletext;

      // check hash table. Add marker
      if (!markerHashTable['nodeindex' + nodeIndex]) {
        let nodeInfo = zingchart.exec('chart4Data', 'getobjectinfo', {
          object: 'node',
          nodeindex: nodeIndex,
          plotindex: 0
        });

        let labelText = formatLabelText(nodeIndex, scaleText);
        let labelId = 'label_' + nodeIndex;
        // create a marker
        let newMarker = new Marker(nodeIndex);
        let newLabel = new Label(labelText, labelId, nodeInfo.x, nodeInfo.y);

        markerHashTable['nodeindex' + nodeIndex] = true;
        markersArray.push(newMarker);

        labelsArray.push(newLabel);

        // render the marker
        chart4Data.scaleX.markers = markersArray;
        chart4Data.labels = labelsArray;
        zingchart.exec('chart4Data', 'setdata', {
          data: chart4Data
        });
      } else {
        console.log('---marker already exists----');
      }
    }
  }
});

/*
* Register a node_click event and then render a chart with the markers
*/
zingchart.bind('chart4Data', 'node_click', (e) => {
  // check hash table. Add marker
  if (!markerHashTable['nodeindex' + e.nodeindex]) {
    let labelText = formatLabelText(e.nodeindex, e.scaletext);
    let labelId = 'label_' + e.nodeindex;
    // create a marker
    let newMarker = new Marker(e.nodeindex, labelText, e.plotindex);
    let newLabel = new Label(labelText, labelId, e.ev.layerX, e.ev.layerY);

    markerHashTable['nodeindex' + e.nodeindex] = true;
    markersArray.push(newMarker);

    labelsArray.push(newLabel);

    // render the marker
    chart4Data.scaleX.markers = markersArray;
    chart4Data.labels = labelsArray;
    zingchart.exec('chart4Data', 'setdata', {
      data: chart4Data
    });
  } else {
    console.log('---marker already exists----');
  }
});

let labelMouseDown = false;
let labelId = null;

/*
* bind mousedown event for dragging label
*/
zingchart.bind('chart4Data', 'label_mousedown', (e) => {
  labelMouseDown = true;
  labelId = e.labelid;
  zingchart.exec('chart4Data', 'hideguide');
});

zingchart.bind('chart4Data', 'mousemove', (e) => {
  if (labelMouseDown && labelId) {
    zingchart.exec('chart4Data', 'updateobject', {
      type: 'label',
      data: {
        id: labelId,
        offsetY: e.ev.layerY
      }
    });
  }
});

zingchart.bind('chart4Data', 'mouseup', () => {
  labelMouseDown = false;
  labelId = null;
  zingchart.exec('chart4Data', 'showguide');
});

zingchart.bind('chart4Data', 'doubleclick', (e) => {
  console.log(e);
});




  // Chart 5: Monthly savings
    let chart5Data = {
    type: 'bar',    
    borderWidth: '1px',
    borderColor: '#dae5ec',
    legend: {
      alpha: 0.05,
      borderWidth: '0px',
      layout: 'x2',
      x:'5%',
      marker: {
        type: 'circle',
        borderColor: 'none'
      },
    },
    plot: {
      animation: {
        effect: 'ANIMATION_SLIDE_BOTTOM'
      },
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
    scaleX: {
      guide: {
        visible: false
      },
      item: {
        fontColor: '#7e7e7e'
      },
      labels: ['BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      //labels: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      lineColor: '#7E7E7E'
    },
    scaleY: {
        
      format: "$%v",
      negation: "currency",
      thousandsSeparator: ", ",
      multiplier: true,
        guide: {
          lineStyle: 'solid'
        },
        minorTick: {
          placement: 'cross',
          size: '6px'
        },
        minorTicks: 1
      },
    tooltip: {
      text: '$%v'
    },
    series: [
      {
        text: 'Monthly savings with insurance',
        values: {{total_monthly_saving_json}},
        alpha: 0.95,
        borderRadiusTopLeft: '7px',
        backgroundColor: '#189447',
      },
      {
        text: 'Monthly savings without insurance',
        values: [ 16733, 17088, 17074, 17041, 17006],
        //values: [988, 4412, 8280, 13743, 16733, 17088, 17074, 17041, 17006],
        borderRadiusTopLeft: '7px',
        alpha: 0.95,
        backgroundColor: '#add9be'
      }
    ]
  };

  zingchart.render({
    id: 'chart5Id',
    data: chart5Data,
    height: '100%', 
    width: '100%',
  });


  // Chart 6
  // DEFINE DATA
  // -----------------------------
 let chartData = [
    {
      type: 'line',       
      borderWidth: '1px',
      borderColor: '#dae5ec',
      text: 'Monthly savings with insurance',
      values: {{ total_monthly_saving_json}},
      scales: 'scale-x,scale-y',
      lineColor: '#189447',
      legendMarker: {
        type: 'circle'
      },
      plot: {
      animation: {
        effect: 'ANIMATION_SLIDE_BOTTOM'
      },
     valueBox: {
      text : '$%v',       
      thousandsSeparator: ", ",
      fontColor: '#000',
      fontSize: '12px',
      offsetY: '5px',
      placement: 'top'
    },
    barWidth: '90%',
    jsRule: 'plot_jsRule()'
  },
      tooltip: {
        text: '$%v',
        negation: "currency",
        thousandsSeparator: ", ",
        wrapText: true
      },
      marker: {
        backgroundColor: '#189447'
      }
    },    {
      type: 'line', 
      text: 'Monthly savings without insurance',
      values: [16733, 17088, 17074, 17041, 17006],
      //values: [988, 4412, 8280, 13743, 16733, 17088, 17074, 17041, 17006],
      scales: 'scale-x,scale-y',
      lineColor: '#add9be',
      legendMarker: {
        type: 'circle'
      },
      tooltip: {
        text: '$%v',
        negation: "currency",
        thousandsSeparator: ", ",
        wrapText: true
      },
      marker: {
        backgroundColor: '#add9be'
      }
    },
    {
      type: 'bar',
      text: 'Amortized cost',
      values: {{Amortized_FC_json}},
      scales: 'scale-x,scale-y',
      backgroundColor: '#ff614f',
      borderRadiusTopLeft: '7px',
      alpha: 0.90,
      tooltip: {
        text: '$%v',
        negation: "currency",
        thousandsSeparator: ", ",
        wrapText: true
      }
    },
    {
      type: 'bar',
      text: 'Insurance savings per month',
      values: {{monthly_premium_saving_json}},
      scales: 'scale-x,scale-y',
      backgroundColor: '#07d9a4',
      borderRadiusTopLeft: '7px',
      alpha: 0.90,
      tooltip: {
        text: '$%v',
        negation: "currency",
        thousandsSeparator: ", ",
        wrapText: true
      }
    },
    {
      type: 'bar', 
      text: 'Reduction in expected flood loss per month',
      values: {{monthly_avoided_loss_json}},
      scales: 'scale-x,scale-y',
      backgroundColor: '#2480bf',
      borderRadiusTopLeft: '7px',
      alpha: 0.90,
      tooltip: {
        text: '$%v',
        negation: "currency",
        thousandsSeparator: ", ",
        wrapText: true
      }
    }

  ];

let chartConfig = {
    type: 'mixed',   
    borderWidth: '1px',
    borderColor: '#dae5ec',
    legend:{
     layout: 'x3',
     x:'5%',
     width: '95%',
     margin: '10px 10px 10px 10px',
     borderColor: 'whtie'
    },
    scaleX: {
      values: [ 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      //values: ['BFE -4 ft', 'BFE -3 ft', 'BFE -2 ft', 'BFE -1 ft', 'BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      guide: {
        lineColor: '#BDBDBD',
        lineStyle: 'solid'
      },
      label: {
        text: 'BFE + Freeboard (ft)'
      },
    },
    scaleY: {  
    format: "$%v",
    negation: "currency",
    thousandsSeparator: ", ",
    multiplier: true,
      guide: {
        lineStyle: 'solid'
      },
      minorTick: {
        placement: 'cross',
        size: '6px'
      },
      minorTicks: 1
    },
    {% comment %} 
    scaleY2: {
    format: '%v',    
    negation: "currency",
    guide: {
      visible: false
    },
    label: {
      text: 'Y-2 label'
    },
    zooming: true
  }, 
  {% endcomment %}
    crosshairX: {
      plotLabel: {
        visible: false
      }
    },
    series: chartData
  };


  // CHART CONFIG
  // ----------------------------- commented out
  {% comment %} let chartConfig = {
    type: 'hbullet',
    backgroundColor: '#f4f4f4',
    legend: {
      marginBottom: '-20%',
      backgroundColor: 'none',
      borderWidth: '0px',
      item: {
        cursor: 'hand',
        fontColor: '#307C70',
        fontFamily: 'arial',
        fontSize: '12px',
        fontWeight: 'normal',
        shadow: false
      },
      layout: 'float',
      marker: {
        cursor: 'hand'
      },
      position: '50% 12%',
      toggleAction: 'remove'
    },
    plot: {
      alpha: 1,
      backgroundColor: '#000000',
      barSpace: '50%',
      tooltipText: 'Value: %v',
      animation: {
        effect: 'ANIMATION_EXPAND_BOTTOM',
        method: 'ANIMATION_LINEAR',
        sequence: 'null'
      }
    },
    plotarea: {
      margin: '22% 5% 15% 10%',
      backgroundColor: '#ffffff'
    },
    scaleX: {
      values: ['BFE +0 ft', 'BFE +1 ft', 'BFE +2 ft', 'BFE +3 ft', 'BFE +4 ft'],
      guide: {
        alpha: 0.5,
        lineColor: '#434F5B',
        lineStyle: 'solid'
      },
      item: {
        fontColor: '#434F5B',
        fontFamily: 'arial',
        fontSize: '12px',
        fontWeight: 'normal',
        offsetX: '-5%'
      },
      lineColor: '#434F5B',
      lineStyle: 'solid',
      lineWidth: '1px',
      tick: {
        lineColor: '#434F5B',
        lineWidth: '1px'
      }
    },
    scaleY: {
      format: '%v',
      guide: {
        alpha: 0.25,
        lineColor: '#434F5B',
        lineStyle: 'solid'
      },
      item: {
        fontColor: '#434F5B',
        fontFamily: 'arial',
        fontSize: '12px',
        fontWeight: 'normal',
        offsetY: '5%'
      },
      lineColor: '#434F5B',
      lineStyle: 'solid',
      lineWidth: '1px',
      tick: {
        lineColor: '#434F5B',
        lineWidth: '1px'
      }
    },
    series: chartData
  }; {% endcomment %}

  // RENDER CHARTS
  // -----------------------------

  // Chart 1
  zingchart.render({ 
    id: chart1Id, 
    data : chart1Data, 
    width: '100%'
  });

  // Chart 2
  zingchart.render({ 
    id: chart2Id, 
    data : chart2Data, 
    width: '100%'
  });

  // Chart 3
  zingchart.render({ 
    id: chart3Id, 
    data : chart3Data, 
    width: '100%'
  });

  // Chart 4
  zingchart.render({ 
    id: chart4Id, 
    data : chart4Data, 
    width: '100%'
  });

  // Chart 5
  zingchart.render({ 
    id: chart5Id, 
    data : chart5Data, 
    width: '100%'
  });

  // Chart 6
  zingchart.render({
    id: 'myChart',
    data: chartConfig,
    width: '100%'
  });

  var ctx = document.getElementById('chart').getContext('2d');

  var chart = (ctx, {
            type: 'line',
            data: {
                labels: ['+0ft freeboard','+`0`ft freeboard'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: '#33b5e5',
                    borderColor: '#33b5e5',
                    data: [15,10]   
                }]
            },
            options: {
              responsive:true,
              legend:{
                display:false,
              },
              title: {
                display:false,
                text:'Text',
              },
              
              scales: {
                xAxes: [{
                  display: true
                }],
                yAxes: [{
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: 'dollar',
                  },
                  ticks: {
                    min: 0,
                    stepSize: 10
                  }
                }]
              }
            }
    }); 
    </script>

    <script src="./static/js/disclaimer.js"></script>

<!-- Accessibility Code for "floodsafehome.lsu.edu" -->
<script> 
    window.interdeal = { 
        "sitekey": "e8d3d174e189523ecbfdacfddd4c53b8", 
        "Position": "Left", 
        "Menulang": "EN", 
        "domains": { "js": "https://cdn.equalweb.com/", 
        "acc": "https://access.equalweb.com/" }, 
        "btnStyle": { "vPosition": [ "80%", null ], 
        "scale": [ "0.5", "0.5" ], 
        "icon": { "type": 7, 
        "shape": "semicircle", "outline": false }, 
        "color": { "main": "#1876c9", "second": "" } 
        } }; 
        
    (function(doc, head, body) { 
        var coreCall = doc.createElement('script'); 
        coreCall.src = 'https://cdn.equalweb.com/core/2.1.10/accessibility.js'; 
        coreCall.defer = true; 
        coreCall.integrity = 'sha512-PWvjZ/e9EGeHEPppEOqscViKxQIW1/5rJeFedXLJiv0IrltJPvuhrYOiUsOkQ49FaZ5HSDp51/O/6V9uL2nNIA=='; 
        coreCall.crossOrigin = 'anonymous'; coreCall.setAttribute('data-cfasync', true ); 
        body? body.appendChild(coreCall) : head.appendChild(coreCall); })
    (document, document.head, document.body); 
</script>

<!--CRS rate selection-->
<script>
function myFunction() {
  var x = document.getElementById("crsRate").value;
  document.getElementById("crsRate_value").innerHTML = ", with a " + x + "% discount";
  }
</script>
<!--CRS rate selection end-->



</body>
</html>



