body{
    margin: 10;
    padding: 10;
    background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/paper_3.png');
    font-family: Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
tr {
border-bottom: 1px solid #ddd;
}



h3{
background-color:powderblue;
}


@media print {

body {
    margin: 10;
    padding: 10;
    background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/paper_3.png');
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    -webkit-print-color-adjust: exact !important;
    color: #363636;
}

i {
    font-style: italic;
  }

div{
    line-height: 2.0;
}


h3{
    background-color:powderblue;
    }


hr.style-five {
    border-top: 3px solid #a8a8a8;
    border-bottom: 4px solid #fff;
    width: 55%;
    margin: 70px 0 25px 0;
}

hr.style {
    border-top: 3px solid #a8a8a8;
    border-bottom: 4px solid #fff;
    width: 55%;
    margin: 30px 0 25px 0;
}

#viewDiv {
    height: 30%;
    width: 100%;
}

.pricing-slider-img {
    width: 300px;
    height: 300px;
    margin: 50px 50px 0 50px;
}

.optimal {
    font-size: 23px;
    line-height: 40px;
    font-weight: 450;
}


.pricing-slider-value {
    font-size: 22px;   
    font-weight: bold;
  }

.summary-b {
    font-size: 25px;
}

.vl {
    border-left: 5px solid rgb(0,112,192);
    padding: 0 0 0 15px;
    margin: 0 0 0 5px;
}
  
/* Container for flexboxes */
.row2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns */
  .colum2 {
    flex: 75%;
    margin: 15px 25px 15px 0px; 
    padding: 10px;
  }

.ttl{
    margin: 30px 0px 0px 0px;    
    font-weight: 700;
    color: #363636;
 }


.map-style-title {
    padding: 10px 0 20px 0;
    font-weight: 600;
    font-size: 20px;
    color: #363636;
}
/* print.css */
table, img, svg, div {
  break-inside: avoid;
}


.zc-body {
    background: #fff;
    margin: 30px 00px 30px 0px;
}


.zc-body-end {
    background: #fff;
    margin: 30px 0px 0px 0px;
}

.btn {
    background: #367FFF;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    padding: 25px 38px;
    margin: 10px 10px 10px 0px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
}
    
}



  /*Switch CSS*/
  .checkbox-switch {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    height: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 14px;
}

.checkbox-switch input.input-checkbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 30px;
	padding: 0;
	margin: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

.checkbox-switch .checkbox-animate {
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #95a5a6;
    -webkit-transition: background 0.25s ease-out 0s;
    transition: background 0.25s ease-out 0s;
}

.checkbox-switch .checkbox-animate:before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #7f8c8d;
	top: 5px;
	left: 5px;
	 -webkit-transition: left 0.3s ease-out 0s;
    transition: left 0.3s ease-out 0s;
    z-index: 1;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate {
	background-color: #2ecc71;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate:before {
	left: 55px;
	background-color: #27ae60;
}

.checkbox-switch .checkbox-off,
.checkbox-switch .checkbox-on {
	float: left;
	color: #fff;
	font-weight: 700;
	padding-top: 6px;
	 -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.checkbox-switch .checkbox-off {
	margin-left: 30px;
	opacity: 1;
}

.checkbox-switch .checkbox-on {
	display: none;
	float: right;
	margin-right: 35px;
	opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-off {
	display: none;
	opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-on {
	display: block;
	opacity: 1;
}

